@import 'bootstrap';

/* navbar */
.navbar-default {
    background-color: black;
    height: 75px;
    border-color: gray;
}
/* title */
.navbar-default .navbar-brand {
    height: 75px;
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: gray;
    height: 75px;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
    padding-top: 26px;
    font-size: 15px;
    height: 74px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: gray;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #333333;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: red;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: gray;
    border-bottom-color: red;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: red;
    border-bottom-color: gray;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: red;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: red;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: red;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #333333 !important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: red;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: red;
    }
}
