// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.personal {
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 45%;
  float: left;
  border: 2px solid black;
}

.user_weight {
  padding: 5px 5px 20px 0px;
  display: inline-block;
  //margin: 10px;
  float: left;
}

.calculated_bf {
  padding: 5px 5px 63px 10px;
  display: inline-block;
  //margin: 10px;
  //float: right;
}

.weight {
  padding: 5px 5px 73px 5px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  width: 50%;
  //float: left;
  border: 2px solid black;
}

.goals {
  padding: 5px;
  margin: 30px 10px;
  display: block;
  border: 2px solid black;
}

.supplements {
  padding: 5px;
  margin: 10px;
  display: block;
  border: 2px solid black;
}
