// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.header {
  margin-top: 25px;
  color:black;
}

.table {
  margin-top: 0;
  padding-top: 0;
  //background-color: blue;
}
.top_section {
  padding-top: 40px;
  height: 360px;
  border-bottom: 1px solid black;
}

.edit_button {
  padding-top: 70px;
}

.edit_button1 {
  padding-top: 100px;
}

.supplements_title {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 5px;
  padding-bottom: 8px;
  background-color: #333333;
  margin-left: 5%;
  margin-right: 5%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.goals_title {
  margin-top: 20px;
  padding: 5px;
  background-color: #333333;
  margin-left: 5%;
  margin-right: 5%;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.goals_title h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.supplements_title h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.weight_title h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.supplements {
  //margin-top: 0;
  //padding-bottom: 20px;
  //height: px;
  //background-color: green;
  //border-bottom: 1px solid black;
}
.supplements_content {
  margin-left: 5%;
  margin-right: 5%;
  //padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #F0F0F0;
  //background-color: green;
  font-size: 20px;
}
.goals {
  padding-bottom: 20px;
  //height: auto;
  border-bottom: 1px solid black;
}
.goals_content{
  margin-left: 5%;
  margin-right: 5%;
  //padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid black;
  border-bottom-radius: 15px;
  background-color: #F0F0F0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 20px;
}

.goals_content p {
  padding-top: 5px;
}

.supplements_content p {
  padding-top: 5px;
}
.personal {
  float: left;
  height: 300px;
  width:45%;
  margin-left: 5%;
  margin-right: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F0F0F0;
  color: black;
  font-size: 20px;
}

.weight_title {
  margin-bottom: 0;
  float: left;
  width: 42%;
  padding: 5px;
  padding-bottom: 8px;
  background-color: #333333;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.weight {
  float: left;
  width: 42%;
  height: 248px;
  margin-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  font-size: 20px;
  background-color: #F0F0F0;

}
.classifier {
  float: left;
  height: 80%;
  width: 32%;
  //background-color: red;
}
.info {
  color: gray;
  //background-color: green;
  float: left;
  text-align: left;
  width: 67%;
}

.weight_classifier {
  float: left;
  height: 80%;
  width: 50%;
  //background-color: red;
}
.weight_info {
  color: gray;
  //background-color: green;
  text-align: left;
  width: 49%;
}
/* unvisited link */
a:link {
    color: black  ;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
