// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  margin-top: 25px;
  color:black;
}

#update_header {
  margin-top: 25px;
  color:black;
}

#workout_header {
  margin-top: 10px;
  color: black;
}

.show_table {
  margin-top: 20px;
}
