// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.workout_content, .update_content {
  font-size: 20px;
}



.floating_box {
    width: 180px;
    float:left;
    height: 200px;
    margin: 10px;
}

.pic {
  border: 3px solid black;
  height: 205px;
  width: 180px;
}

.new_pic {
  float: left;
  //background-color: blue;
}

.picture_section {
  width: 100%;
  height: 210px;
  //background-color: red;
}

.header {
  margin-top: 25px;
  color:black;
}

#update_header {
  margin-top: 25px;
  color:black;
}

#workout_header {
  margin-top: 10px;
  color: black;
}

.show_table {
  margin-top: 20px;
}
