// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.header {
  margin-top: 25px;
  color:black;
}

#show {
  display: none;
}

.indent {
  margin-left: 40px;
}
