<style>
body {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 20px;
}
</style>
<script>
var ul;
var li_items;
var imageNumber;
var imageWidth;
var prev, next;
var currentPostion = 0;
var currentImage = 0;

function init(){
	ul = document.getElementById('image_slider');
	li_items = ul.children;
	imageNumber = li_items.length;
	imageWidth = li_items[0].children[0].clientWidth;
	ul.style.width = parseInt(imageWidth * imageNumber) + 'px';
	prev = document.getElementById("prev");
	next = document.getElementById("next");
	prev.onclick = function(){ onClickPrev();};
	next.onclick = function(){ onClickNext();};
}

function animate(opts){
	var start = new Date;
	var id = setInterval(function(){
		var timePassed = new Date - start;
		var progress = timePassed / opts.duration;
		if (progress > 1){
			progress = 1;
		}
		var delta = opts.delta(progress);
		opts.step(delta);
		if (progress == 1){
			clearInterval(id);
			opts.callback();
		}
	}, opts.delay || 17);
	//return id;
}

function slideTo(imageToGo){
	var direction;
	var numOfImageToGo = Math.abs(imageToGo - currentImage);
	// slide toward left

	direction = currentImage > imageToGo ? 1 : -1;
	currentPostion = -1 * currentImage * imageWidth;
	var opts = {
		duration:1000,
		delta:function(p){return p;},
		step:function(delta){
			ul.style.left = parseInt(currentPostion + direction * delta * imageWidth * numOfImageToGo) + 'px';
		},
		callback:function(){currentImage = imageToGo;}
	};
	animate(opts);
}

function onClickPrev(){
	if (currentImage == 0){
		slideTo(imageNumber - 1);
	}
	else{
		slideTo(currentImage - 1);
	}
}

function onClickNext(){
	if (currentImage == imageNumber - 1){
		slideTo(0);
	}
	else{
		slideTo(currentImage + 1);
	}
}
window.onload = init;
</script>

<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="Image-Slider-LnR.js"></script>
		<link rel="stylesheet" type="text/css" href="Image-Slider-LnR.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/home.scss" />
	</head>

	<body>
		<div class="container_2">
			<div class="slider_wrapper">
				<ul id="image_slider">
					<li><%= image_tag "slider/image1_final.jpg" %></li>
					<li><%= image_tag "slider/image2_final.jpg" %></li>
					<li><%= image_tag "slider/image3_final.jpg" %></li>
				</ul>
				<span class="nvgt" id="prev"></span>
				<span class="nvgt" id="next"></span>
			</div>
		</div>

		<div class="main_content">
			<% if !user_signed_in? %>
				Join MyFit now and have an easy way to track your fitness progress, manage your goals,
					record your workouts, and much, much more!

			<% end %>
		</div>
	</body>
